.container {
    width: 80vw;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
}

.containerH1 {
    text-align: center;
}

.progressBar {
    margin-top: 30px;
    margin-bottom: 60px;
}

.albumCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 5%;
    padding: 2%;
    justify-items: center;
    max-width: 90%;
    margin: auto auto 10%;
}

.paginator {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    gap: 5px;
}

.pageCount {
    width: 80vw;
    max-width: 950px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    margin-top: 0%;
    margin-bottom: 0.5%;
}
