.container {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -999;
    top: 0;
}

.circles {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #6e1942;

    background-image: radial-gradient(
            circle at 10% 20%,
            #4d113d 30%,
            transparent 40%
        ),
        radial-gradient(circle at 90% 60%, #3a114d 30%, transparent 40%),
        radial-gradient(circle at 40% 80%, #6e1a19 30%, transparent 40%);
}

.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(320px);
}
