.login {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.loginLogo {
    width: 55%;
    height: auto;
    object-fit: contain
}

.loginH1 {
    position: relative;
    top: -20%;
    color: #fff;
    margin: 0;
    padding: 0;
}